{% extends 'FrontBundle::layout.html.twig' %}

{#Salsabil' work #}
{% block body %}
    <h1>Liste des Evenements</h1>
    <div>
    {% if is_granted('ROLE_COM') %}

        <a href="{{ path('evennements_new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"> </i>Nouvel evennement</a>
    {% endif %}
    </div>
<div class="blog"  style="margin-bottom:15px;margin-top:60px;">
    <div  class="container">

        <div  class="col-md-10 blog-header">
            {% for evennement in evennements %}
                <div class="col-md-4 blog-top" style="width:30%;border: solid 4px #B40486;margin-right:2px;padding:15px; border-width: medium">
                    <div class="blog-in">
                        <a href="#">


                                <img src="{{ asset('bundles/front/images/tunis.jpg') }}" style="width:100%;height: 200px">

                        </a>
                        <div align="center" class="blog-grid">
                            <h3 style="color:#B40486 "> {{ evennement.titre  }}</h3>
                            <div class="date">
                                <span class="date-in"><i class="fa fa-calendar"> </i>  {{ evennement.dateDeb|date('Y-m-d') }}</span>
                                <h4>{{ evennement.lieu }}</h4>
                                <a href="#" class="comments"></a>
                                <div class="clearfix"> </div>

                            </div>

                            <div class="more">
                                <a class="btn btn-default" href="{{ path('evennements_show', { 'id': evennement.id }) }}"> <i class="fa fa-eye"> </i></a>
                                {% if is_granted('ROLE_COM') %}

                                    <a class="btn btn-default"  href="{{ path('evennements_edit', { 'id': evennement.id }) }}"> <i class="fa fa-edit"></i></a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

    <div class="navigation text-center">
        {{ knp_pagination_render(evennements) }}
    </div>



    {#
    <h1>Liste des Evenements</h1>
    {% if is_granted('ROLE_COM') %}


        <a href="{{ path('evennements_new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"> </i>Nouvel evennement</a>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-light">
        <tr class="table-secondary">

            <th>Titre</th>
            <th>Description</th>
            <th>Date debut</th>
            <th>Date fin</th>
            <th>Lieu</th>
            <th>Prix</th>
            <th>Etat</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evennement in evennements %}
            <tr>
                <td>{{ evennement.titre }}</td>
                <td>{{ evennement.description }}</td>
                <td>{% if evennement.dateDeb %}{{ evennement.dateDeb|date('Y-m-d') }}{% endif %}</td>
                <td>{% if evennement.dateFin %}{{ evennement.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evennement.lieu }}</td>
                <td>{{ evennement.prix }}</td>
                <td> {% if evennement.etat == 0 %} Non Disponible
                    {% elseif evennement.etat == 1 %} Disponible
                    {% endif %}
                </td>
                <td>

                    <a class="btn btn-default" href="{{ path('evennements_show', { 'id': evennement.id }) }}"> <i class="fa fa-eye"> </i></a>
                    {% if is_granted('ROLE_COM') %}

                        <a class="btn btn-default"  href="{{ path('evennements_edit', { 'id': evennement.id }) }}"> <i class="fa fa-edit"></i></a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(evennements) }}
    </div>
    #}
{% endblock %}
