{% extends 'BackBundle::panel.html.twig' %}

{% block body %}
    <h1>Abonnements list</h1>

            <a class="btn btn-success" href="{{ path('abonnements_new') }}"><i class="fa fa-plus"></i> Nouvel abonnement</a>
            <a class="btn btn-primary" href="{{ path('abonnements_demandes') }}"><i class="fa fa-list"></i> Demandes</a>

    <table class="table">
        <thead>
            <tr>
                <th>Designation</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Nombre de mois </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.designation }}</td>
                <td>{{ abonnement.description }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.nbMois }}</td>
                <td>

                    <a class ="btn btn-default" href="{{ path('abonnements_show', { 'id': abonnement.id }) }}"><i class="fa fa-file-text-o"></i> Show</a>
                    <a class ="btn btn-default" href="{{ path('abonnements_edit', { 'id': abonnement.id }) }}"><i class="fa fa-edit"></i> Edit</a>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
