{% extends 'BackBundle::panel.html.twig' %}

{% block body %}
    <h1>Abonnement creation</h1>

    {{ form_start(form) }}
       {# {{ form_widget(form) }} #}
    <div class="col-md-12">
        <div class="col-md-6">
            <label> Designation :</label>
    {{ form_errors(form.designation) }}
    {{ form_widget(form.designation, {'attr': {'class': 'comment form-control'}}) }}
        </div>
        <div class="col-md-6">
            <label> Description :</label>
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'comment form-control'}}) }}
        </div>
    </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <label> Prix :</label>
    {{ form_errors(form.prix) }}
    {{ form_widget(form.prix, {'attr': {'class': 'comment form-control'}}) }}
            </div>
            <div class="col-md-6">
                <label> Nombre de mois :</label>
    {{ form_errors(form.nbMois) }}
    {{ form_widget(form.nbMois, {'attr': {'class': 'comment form-control'}}) }}
            </div>
        </div>

<div class="col-md-12" style="margin-top: 15px" >
    <div class="col-md-6">
    <a class ="btn btn-default" href="{{ path('abonnements_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
    <button type="submit" class="btn btn-success " > Créer </button>
    </div>
</div>
    {{ form_end(form) }}
{% endblock %}
