{% extends 'BackBundle::panel.html.twig' %}

{% block body %}
    <h1 class="text-warning">Abonnement {{ abonnement.designation }} </h1>

        <div class="col-md-12">
            <div class="col-md-6">
               <label>Designation : </label>
                {{ abonnement.designation }}
            </div>
            <div class="col-md-6">
                <label>Description : </label>
                {{ abonnement.description }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <label>Prix : </label>
                {{ abonnement.prix }}
            </div>
            <div class="col-md-6">
                <label>Nombre de mois : </label>
                {{ abonnement.nbMois }}
            </div>

        </div>


    <a class ="btn btn-default" href="{{ path('abonnements_index') }}"><i class="fa fa-arrow-left"></i> Retourner à la liste</a>
    <a class ="btn btn-default" href="{{ path('abonnements_edit', { 'id': abonnement.id }) }}"><i class="fa fa-edit"></i> Modifier</a>


{% endblock %}
