{% extends 'FrontBundle::layout.html.twig' %}
{% block style %}

    <link href="{{ asset('bundles/front/css/style_haifa_daoud.css') }}" rel="stylesheet"/>

{% endblock style %}
{% block body %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">

                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{{ path('client_annonces_index') }}">Tous</a></h4>
                                </div>
                            </div>
                            {% for category in categories %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="{{ path('annonces_index_by_categorie', { 'categorie': category.id }) }}">{{  category.designation }}</a></h4>
                                </div>
                            </div>
                            {% endfor %}


                        </div><!--/category-products-->




                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        {% for annonce in annonces %}
                            <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                                <a href="">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img  href="{{ path('annonces_show', { 'id': annonce.id }) }}" src="{{ asset('bundles/front/images/pic1.jpg') }}" class="img-responsive" alt=""/>


                                            <a href=""
                                               class="button item_add item_1"> </a>
                                            <div class="product_container">
                                                <div class="cart-left">
                                                    <p class="title">{{ annonce.titre }}</p>
                                                </div>
                                                <span class="amount item_price">{{ annonce.prix }}</span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div><!--features_items-->


                </div>
            </div>
        </div>
    </section>

{% endblock %}
