{% extends 'FrontBundle::layout.html.twig' %}
{% block style %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="{{ asset('bundles/front/css/style_Nour.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/front/css/style_haifa_daoud.css') }}" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/front/css/rating.css') }}" />

{% endblock style %}
{% block body %}
    {# dev-haifa#}
    <ol class="breadcrumb">
        <li><a href="{{ path('front_homepage') }}">Annonce</a></li>
        <li><a href="">{{ annonce.categorie.designation }}</a></li>
        <li>{{ annonce.titre }}</li>


    </ol>
    <div class="row">
        <div class="col-md-4">

            <div class="slideshow-container">

            {% for img in Image|e %}


                <div class="mySlides fade in">

                    <img src="{{ asset('uploads/annonceImage/'~ img.imageName) }}" style="width:100%;height:260px !important;">

                </div>
            {% else %}
                <img src="{{ asset('uploads/annonceImage/no.png') }}" style="width:100%;height: 300px">

                {% endfor %}

                <!-- Full-width images with number and caption text -->


                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>





            </div>
            <!--/.Carousel Wrapper-->




        <div id="sidebar" class="col-md-7 single-right-left simpleCart_shelfItem">

            <h3>{{ annonce.titre }}</h3>
            <div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked="">
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
            </div>
            <p>
                <span class="item_price">{{ annonce.prix }}</span>

                <label>

                    {% if annonce.disponible %}En stock{% else %}Repture  de stock{% endif %}</td>

                </label>
            </p>
            <div class="single-infoagile">
                <ul>
                    <li>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Livraison gratuite
                    </li>
                    <li>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Paiement à la livraison admissible.
                    </li>

                </ul>
            </div>
            <div class="product-single-w3l">
                <p>
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>{{ annonce.description|raw }}
                </p>
            </div>
             <div class="product-single-w3l">
                <p>
            {% if annonce.commercial.adresse %}<span class="phone"><i class="fa fa-map-marker"></i> {{ annonce.commercial.adresse }}</span>{% endif %}
            {% if annonce.commercial.mobile %}<span class="phone"><i class="fa fa-phone"></i> {{ annonce.commercial.mobile }}</span>{% endif %}
            {% if annonce.commercial.email %}<span class="phone"><i class="fa fa-envelope"></i> {{ annonce.commercial.email }}</span>{% endif %}
                </p>
             </div>
       </div>
        <div class="clearfix"> </div>
    </div>
    <br>



    
    {# dev-haifa#}

<!-- Nour's work -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% if annonce.commercial.id != app.user.id %}
        <div class="content">
            {% if com==0 %}
                <a href="#" class="btn left" data-toggle="modal" data-target="#newCom">

                    <span class="right title"><span class="arrow-right"></span><span class=" fa fa-check"></span>    Commander</span>
                </a>

            {% else %}
                <a href="#" class="btn left" data-toggle="modal" data-target="#noCom">

                    <span class="right title"><span class="arrow-right"></span><span class=" fa fa-check"></span>    Commander</span>
                </a>
            {% endif %}
        </div>
{% endif %}
{% endif %}

    <!-- Modal new com-->
    <div id="newCom" class="modal fade" role="dialog">
        <div class="modal-dialog">
            {{ form_start(form) }}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nouvelle Commande </h4>
                </div>

                <div class="modal-body">

                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                {{ form_label(form.dateCom) }}
                                {{ form_errors(form.dateCom) }}
                                {{ form_widget(form.dateCom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_label(form.quantite) }}
                                {{ form_errors(form.quantite) }}
                                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" ><i class="fa fa-check"></i>  Valider  </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fermer</button>

                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Modal no com-->
    <div id="noCom" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nouvelle Commande </h4>
                </div>

                <div class="modal-body">
                    <p>Vous avez déjà une commande en attente pour cette annonce.</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fermer</button>

                </div>

            </div>
        </div>
    </div>
    <!--- safa Boufares's work start-->

    <!-- /row -->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="{{ path('signalsAncN_new',{'annonce':annonce.id}) }}"><i class="fa fa-flag pull-right"></i></a>
                <br/>
            </div>
        </div>
        <div class="col-md-6">
            <!-- test si l'utilisateur est connecté -->
            {{ form_start(formC) }}
            {{ form_errors(formC.contenu) }}
            {{ form_widget(formC.contenu, {'attr': {'class': 'comment form-control'}}) }}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted("ROLE_CLIENT")  %}
                        <button type="submit" class="btn sign pull-right"><i class="fa fa-commenting-o"></i> Commenter </button>

                    {% endif %}
                {% else %}
                    <button type="button" class="btn sign pull-right" data-toggle="modal" data-target="#noComment">

                        <i class="fa fa-commenting-o"></i> Commenter
                    </button>
                {% endif %}
            {{ form_end(formC) }}
            <br>
            <br>
        </div>
    </div>
    <div class="row">


        {% for comn in coms %}
            <div class="col-md-12">

                <div class="one-comment">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /col-sm-1 -->

                    <div class="col-sm-5">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <strong>{{ comn.client.username }}</strong> <label class="text-muted text-right"> commenté le {{ comn.dateCmt|date('D-M-Y') }} </label>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if app.user.id  == comn.client.id %}
                                        <a href="{{ path('commentairesAnc_delete',{'com':comn.id,'annonce':annonce.id}) }}"><i class="fa fa-trash-o"></i></a>
                                        <a href="{{ path('commentairesAnc_edit',{'com':comn.id,'annonce':annonce.id}) }}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="panel-body">
                                {{ comn.contenu }}
                            </div>
                            <!-- /panel-body -->
                        </div>
                        <!-- /panel panel-default -->
                    </div>
                    <!-- /col-sm-5 -->
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- /row -->
    <!-- Modal no comment -->
    <div id="noComment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Commentaires </h4>
                </div>

                <div class="modal-body">

                    <div class="col-md-12">
                        <p>Vous devez se connecter afin de pouvoir ajouter un  <b>commentaire</b>.</p>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fermer</button>

                </div>

            </div>
        </div>
    </div>

    <!--- safa Boufares 's work end-->
{% endblock body %}
{% block js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="{{ asset('bundles/front/js/rating.js') }}"></script>


   <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#souk_backbundle_commandes_dateCom" ).datepicker({
                altField: "#souk_backbundle_commandes_dateCom",
                altFormat: "yy-mm-dd"
            });
        } );
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }

        </script>

{% endblock js %}