<!doctype html>
<html>

<head>
    <style>
        table, td, th {
            border: 1px solid #d0e9c6;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 70%;
            margin: auto;
        }

        th, td {
            padding: 15px;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

<title>Commande</title>
<meta charset="utf-8"/>
</head>

<body>

<div class="head-pdf">
    <div class="row form-controlS">
        <div class="logo">
            <img width="200" height="100" src="{{ asset(pathToLogo) }}"/>
        </div>

        <div class="col-md-12" style="text-align:center " >
            <h1>Le reçu de la commande </h1>
            <h3>Merci de choisir notre site pour passer votre commande </h3>
        </div>

    <div class="col-md-12" >
        <table>

        <tbody>
        <tr>
        <th >Datecom</th>
        <td>{% if commande.dateCom %}{{ commande.dateCom|date('Y-m-d') }}{% endif %}</td>
        </tr>
    <tr>
        <th>Quantite</th>
        <td>{{ commande.quantite }}</td>
    </tr>
    <tr>
        <th>Titre Annonce</th>
        <td>{{ commande.annonce.titre }}</td>
    </tr>
    <tr>
        <th>Categorie Annonce</th>
        <td>{{ commande.annonce.categorie.designation }}</td>
    </tr>
    <tr>
        <th>Etat</th>
        <td>{% if commande.etat == 0 %} En attente {%  else %} Confirmée{% endif %}</td>
    </tr>
    </tbody>
</table>
    </div>
    </div>
</div>

</body>
</html>


