{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <h1>Modifier Votre reclamation </h1>

    {{ form_start(edit) }}
    <div class="col-md-12">

        <div class="form-group col-md-8">
            {{ form_label(edit.commercial) }}
            {{ form_errors(edit.commercial) }}
            {{ form_widget(edit.commercial, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-md-8">
            {{ form_label(edit.contenu) }}
            {{ form_errors(edit.contenu) }}
            {{ form_widget(edit.contenu, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>

            <button type="submit" class="btn btn-success" href="{{ path('reclamations_index') }}" ><i class="fa fa-check"></i>  Edit </button>
        <a class="btn btn-default" href="{{ path('reclamations_index') }}"  > <i class="fa fa-arrow-left" > Back to the liste </i> </a>
    {{ form_end(edit) }}

{% endblock %}
