{% extends 'FrontBundle::layout.html.twig' %}

{% block style %}
    <link href="{{ asset('bundles/front/css/soumaya_style.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('bundles/front/css/style_Nour.css') }}" rel="stylesheet"/>
{% endblock style %}


{% block body %}
<div class="row form-controlS">
    <div class="Title">
     Liste des reclamation
    </div>
    <br>
    <div class="col-md-3 pull-right">
    <form method="POST"> <input type="text" name="etat"/>
        <button type="submit"  class="btn-rechercher " ><i class="fa fa-search" ></i> </button>
    </form>
    </div>
    <div class="col-md-12">
    <a title="ajouter une nouvelle reclamation" href="{{ path('reclamations_new') }}"  class="btn btn-success pull-right"> <i class="fa fa-plus" > </i>  </a>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr class="table-secondary">
                <th>Description</th>
                <th>Commercial</th>
                <th>Date de reclamation</th>
                <th>Etat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>

                <td>{{ reclamation.contenu }}</td>
                <td> {{ reclamation.commercial.nom }}</td>
                <td>{% if reclamation.dateRec %}{{ reclamation.dateRec|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reclamation.etat == 0 %} Encours
                    {% elseif reclamation.etat == 1 %} Accepter
                    {% elseif reclamation.etat == (-1) %}  Rejeter
                    {% endif %}
                </td>
                <td>

                    <a  href="{{ path('reclamations_edit', { 'id': reclamation.id }) }}" class="btn btn-warning outline" >
                        <i class="fa fa-edit"></i> Modifier </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
