{% extends 'FrontBundle::layout.html.twig' %}
{% block style %}
    <link href="{{ asset('bundles/front/css/style_Nour.css') }}" rel="stylesheet"/>

{% endblock style %}
{% block body %}

<h2>{% trans from 'FOSMessageBundle' %}Message{% endtrans %}</h2>
<br/>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
 <div class="mail-box">
                  <aside class="sm-side">
                      
                      <div class="inbox-body">
                          <a href="{{ url('fos_message_thread_new' )}}"  class="btn btn-compose">
                              {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
                          </a>                          
                      </div>
                      <ul class="inbox-nav inbox-divider">
                          <li class="active">
                              <a href="{{path('fos_message_inbox')}}"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">{{fos_message_nb_unread(threads)}}</span></a>

                          </li>
                          <li>
                              <a href="{{path('fos_message_sent')}}"><i class="fa fa-envelope-o"></i> Envoyés</a>
                          </li>
                         

                      </ul>
                    
                  </aside>
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3>Inbox</h3>
                         
                      </div>
                      <div class="inbox-body">
                         <div>
                              <div class="box box-primary">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Nouveau Message</h3>
                                </div>
                                <div class="box-body no-padding">
            {{ form_start(form, {'method': 'post', 'action': path('fos_message_thread_new'), 'attr': {'class': ''}}) }}

                {{ form_label(form.recipient, 'Destinataire:') }}
                {{ form_errors(form.recipient) }}
                {{ form_widget(form.recipient, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.subject,'Sujet') }}
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.body,'Contenu') }}
                {{ form_errors(form.body) }}
                {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    <br/>
                    <br/>
                    <input type="submit" class="sign" />
            {{ form_end(form) }}

                                        
                                </div>
                                <br/>
                                <br/>
                                  
                                          
                             </div>
                          </div>
                            
                      </div>
                  </aside>
              </div>
</div>
{% endblock %}
