{% extends 'BackBundle::panel.html.twig' %}
{% block body %}
    <h1> Liste des Reclamations</h1>

    <div class="col-md-3 pull-right">
        <form method="POST"> <input type="text" name="etat"/>
            <button type="submit"  class="btn-rechercher " ><i class="fa fa-search" ></i> </button>
        </form>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr class="table-secondary">
                <th>Contenu</th>
                <th>Commercial</th>
                <th>Date de reclamation</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>

                <td>{{ reclamation.contenu }}</td>
                <td> {{ reclamation.commercial.nom }}</td>
                <td>{% if reclamation.dateRec %}{{ reclamation.dateRec|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% if reclamation.etat == 0 %} encours
                    <td>
                    <a class="btn btn-success" href="{{ path('admin_reclamations_accepter', { 'id': reclamation.id } ) }}"> <i class="fa fa-check " ></i></a>
                    <a class="btn btn-danger" href="{{ path('admin_reclamations_refuser', { 'id': reclamation.id } ) }}"> <i class="fa fa-times" ></i></a>

                    </td>
                    {% elseif reclamation.etat == 1 %} acceptée
                        <td>
                            <a class="btn btn-danger" href="{{ path('admin_reclamations_refuser', { 'id': reclamation.id } ) }}"> <i class="fa fa-times" ></i></a>

                        </td>
                    {% elseif reclamation.etat == (-1) %}  rejetée
                    <td>
                        <a class="btn btn-success" href="{{ path('admin_reclamations_accepter', { 'id': reclamation.id } ) }}"> <i class="fa fa-check " ></i></a>

                    </td>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
